<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="nav">
    <link href="/static/css/common/nav.css" rel="stylesheet"/>
    <nav class="header-nav">
        <div class="top_middle">
            <div th:if="${userInfo?.isLogin}==false">
                <span>喵，欢迎来天猫</span>
                <span class="line">|</span>
                <span><a href="/login">请登录</a></span>
                <span class="line">|</span>
                <span><a href="/register">免费注册</a></span>
            </div>
            <div th:if="${userInfo?.isLogin}==true">
                <span>hi,<span th:text="${userInfo?.name}"></span></span>
                <span class="line">|</span>
                <span><a href="/user/logout">退出登录</a></span>
            </div>
            <ul class="quick-menu">
                <li>
                    <a href="#">我的淘宝</a>
                    <span class="line">|</span>
                </li>
                <li>
                    <a href="#">
                        <i style="color: #c40000;" class="glyphicon glyphicon-shopping-cart"></i>
                        购物车<strong>0</strong>件
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

