.header-nav{
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f2f2f2;
}
.header-nav .top_middle{
    max-width: 1200px;
    margin: 0px auto;
}
.header-nav .top_middle span,.header-nav .top_middle a{
    color: #999;
}
.header-nav .top_middle a:hover{
    color: #c40000;
}
.header-nav .top_middle>div{
    display: inline-block;
}
.line{
    padding-left: 3px;
    padding-right: 3px;
}
.quick-menu{
    float: right;
}
.quick-menu li{
    float: left;
}