<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <link href="/static/plugins/bootstrap-3.3.7/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/common/common.css" rel="stylesheet"/>
    <link href="/static/css/index/index.css" rel="stylesheet"/>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/plugins/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
</head>
<body>
<header th:include="pages/index/nav::nav"></header>
<div th:include="pages/common/search::search"></div>
<div class="homePage">
    <div th:include="pages/index/navigation::navigation"></div>
    <div th:include="pages/index/recommend::recommend"></div>
</div>
<footer th:include="pages/common/footer::footer"></footer>
</body>
</html>