<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>天猫官网</title>
    <script src="/static/js/jquery.min.js"></script>
    <link href="/static/primary/plugins/bootstrap-3.3.7/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/static/primary/plugins/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
    <link href="/static/css/common/common.css" rel="stylesheet"/>
    <link href="/static/css/index/index.css" rel="stylesheet"/>
</head>
<body>
<div th:include="pages/common/nav::nav"></div>
<div th:include="pages/common/search::search"></div>
<div class="homePage">
    <div th:include="pages/index/navigation::navigation"></div>
    <div th:include="pages/index/recommend::recommend"></div>
</div>
<div th:include="pages/common/footer::footer"></div>
</body>
</html>