<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>用户登录</title>
    <link href="/static/plugins/bootstrap-3.3.7/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/common/common.css" rel="stylesheet"/>
    <link href="/static/css/login/login.css" rel="stylesheet"/>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/plugins/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="/static/js/login.js"></script>
</head>
<body>
<div id="main">
    <div id="header"></div>
    <div id="content">
        <div class="login-newbg"></div>
        <div class="login-adlink">
            <a href="#"></a>
        </div>
        <div class="content-layout">
            <div class="login-box-warp">
                <div class="login-box">
                    <div class="static-form">
                        <form>
                            <div>
                                <span id="msg"></span>
                            </div>
                            <div class="field">
                                <label for="name">
                                    <i class="glyphicon glyphicon-user iconfont"></i>
                                </label>
                                <input type="text" id="name" name="name" class="login-text" placeholder="会员名/邮箱/手机号"/>
                            </div>
                            <div class="field">
                                <label for="pwd">
                                    <i class="glyphicon glyphicon-lock iconfont"></i>
                                </label>
                                <input type="password" id="pwd" name="password" class="login-text"/>
                            </div>
                            <div id="checkCodeDiv" style="display: none">
                                <label for="input_code">验证码：</label>
                                <input type="text" size="5" id="input_code"/>
                                <span id="checkCode"></span>
                            </div>
                            <div class="logindiv">
                                <button id="login">登录</button>
                            </div>
                            <div class="help-div">
                                <a href="/register">免费注册</a>
                                <a href="#">忘记密码？</a>
                            </div>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:include="pages/common/footer::footer"></footer>
</body>
</html>
