<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>新用户注册界面</title>
    <link href="/static/plugins/bootstrap-3.3.7/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/common/common.css" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="/static/css/register/style.css" media="all"/>
    <link href="/static/css/register/register.css" rel="stylesheet" />
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script src="/static/plugins/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/Validform_v5.3.2_min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#registerform").Validform({
                tiptype: 2
            });
        });
    </script>
</head>
<body>
<header th:include="pages/register/nav::nav"></header>
<div class="main">
    <div class="wraper">
        <h2 class="green">新用户注册</h2>
        <form id="registerform" class="registerform" method="post" action="/user/register">
            <table width="100%" style="table-layout:fixed;">
                <tr>
                    <td class="need" style="width:10px;">
                        *
                    </td>
                    <td style="width:70px;">
                        用户昵称：
                    </td>
                    <td style="width:205px;">
                        <input type="text" value="" name="name" class="inputxt" datatype="s6-18"
                               errormsg="昵称至少6个字符,最多18个字符！"/>
                    </td>
                    <td>
                        <span class="Validform_checktip"></span>
                    </td>
                </tr>
                <tr>
                    <td class="need">
                        *
                    </td>
                    <td>
                        用户邮箱：
                    </td>
                    <td>
                        <input type="text" value="" name="email" class="inputxt" datatype="e" errormsg="邮箱格式不对！"/>
                    </td>
                    <td>
                        <span class="Validform_checktip"></span>
                    </td>
                </tr>
                <tr>
                    <td class="need">
                        *
                    </td>
                    <td>
                        用户密码：
                    </td>
                    <td>
                        <input type="password" value="" name="password" class="inputxt" datatype="s6-18"
                               errormsg="密码长度在6-18位！"/>
                    </td>
                    <td>
                        <span class="Validform_checktip"></span>
                    </td>
                </tr>
                <tr>
                    <td class="need">
                        *
                    </td>
                    <td>
                        电话号码：
                    </td>
                    <td>
                        <input type="text" value="" name="phone" class="inputxt" datatype="m" errormsg="请输入您的手机号码！"/>
                    </td>
                    <td>
                        <span class="Validform_checktip"></span>
                    </td>
                </tr>
                <tr>
                    <td class="need">
                    </td>
                    <td>
                        用户类型：
                    </td>
                    <td>
                        <input type="radio" value="1" name="type" checked/>会员
                        <input type="radio" value="0" name="type"/>管理员
                    </td>
                    <td>
                        <span class="Validform_checktip"></span>
                    </td>
                </tr>
                <tr>
                    <td class="need">
                    </td>
                    <td>
                    </td>
                    <td colspan="2" style="padding:10px 0 18px 0;">
                        <input type="submit" value="提 交" id="submit"/>
                        <input type="reset" value="重 置" id="reset"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<footer th:include="pages/common/footer::footer"></footer>
</body>
</html>