<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>商品发布</title>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <link href="/static/plugins/bootstrap-3.3.7/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/common/common.css" rel="stylesheet"/>
    <link href="/static/css/product/view.css" rel="stylesheet"/>
    <script src="/static/plugins/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="/static/js/card.js"></script>
    <script src="/static/js/product/card.js"></script>
    <script src="/static/js/product/view.js"></script>
</head>
<body>
<div id="container">
    <div id="main">
        <div class="card" num="0">
            <div></div>
            <div class="items">
                <ul class="dotted">
                    <li th:each="productType0,ptStat0:${list0}">
                        <div class="itemcontainer">
                            <div class="expand">
                                <input type="hidden" name="id" th:value="${productType0.id}">
                                <input type="hidden" name="parentId" th:value="${productType0.parentId}">
                                <span th:text="${productType0.name}">游戏话费</span>
                                <i class="glyphicon glyphicon-chevron-down"></i>
                            </div>
                        </div>
                        <div class="subcontainer">
                            <ul class="">
                                <li th:each="productType1,ptStat1:${list1}"
                                    th:if="${productType1.parentId==productType0.id}"
                                        class="bgcolorgray">
                                    <div class="subitemcontainer">
                                        <div class="load">
                                            <input type="hidden" name="id" th:value="${productType1.id}">
                                            <input type="hidden" name="parentId" th:value="${productType1.parentId}">
                                            <span th:text="${productType1.name}">士大夫</span>
                                            <i th:if="${list3[__${ptStat1.index}__]}!=0"
                                               class="glyphicon glyphicon-chevron-right fr"></i>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--/.card-->
        <!--<div class="card">
            <div></div>
            <div class="items">
                <ul>
                    <li class="bgcolorgray">
                        <div class="subitemcontainer">
                            <div class="load">
                                <input type="hidden" name="id"/>
                                <input type="hidden" name="parentId"/>
                                <span>游戏话费</span>
                                <i th:if="${list3[__${ptStat1.index}__]}!=0"
                                               class="glyphicon glyphicon-chevron-right fr"></i>
                            </div>
                            <div class="saveorupdate">
                                <i class="glyphicon glyphicon-plus" data-toggle="modal"
                                               data-target="#modal_product_type"></i>
                                            <i class="glyphicon glyphicon-pencil" data-toggle="modal"
                                               data-target="#modal_product_type"></i>
                                <i class="glyphicon glyphicon-chevron-right"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>-->
        <!--/.card-->
    </div>
</div>
</body>
</html>