<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>商品发布</title>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <link href="/static/plugins/bootstrap-3.3.7/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/common/common.css" rel="stylesheet"/>
    <link href="/static/css/common/next.css" rel="stylesheet"/>
    <link href="/static/css/common/struct.css" rel="stylesheet"/>
    <link href="/static/css/product/publish.css" rel="stylesheet"/>
    <script src="/static/plugins/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="/static/js/product/publish.js"></script>
</head>
<body>
<div id="container">
    <header th:include="pages/index/nav::nav"></header>
    <div id="header">
        <div class="logo-title">
            <h3>商品发布</h3>
        </div>
    </div>
    <div id="main">
        <div class="sell-wrap">
                <div class="struct category-path-wrap">
                <div class="path-list">
                    <span class="path-label">当前类目:</span>
                    <div class="path-content">
                        <span th:each="item,stat:${categoryList}" th:if="${stat.index<=__${stat.size-3}__}" th:text="${item.name}+'>>'">
                        </span>
                        <span th:each="item,stat:${categoryList}" th:if="${stat.index==__${stat.size-2}__}" th:text="${item.name}">
                        </span>
                    </div>
                </div>
            </div>
            <div class="next-row sell-float-bottom">
                <div class="com-struct" id="struct-buttons">
                    <button id="button-submit" type="button"
                            class="next-btn next-btn-secondary next-btn-large ol-next-button block">
                        提交宝贝信息
                    </button>
                </div>
            </div>
        </div>
    </div>
    <footer th:include="pages/common/footer::footer"></footer>
</div>
</body>
</html>