#container #main{
    display: inline-block;
    float: left;
    width: 100%;
}
#container #main .card{
    display: inline-block;
    float: left;
    width: 15%;
    border: 1px solid #eee;
}
#main .items{
    width: 100%;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}
#main .card .items ul{
    padding-left: 0;
}
#main .card .items>ul>li{
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border-top: 1px dotted #aaa;
}
#main .card .items>ul li{
    list-style: none;
}
#main .card .items .itemcontainer{
    display: inline-block;
    cursor: pointer;
    width: 100%;
}
#main .card .items .itemcontainer>.expand{
    float: left;
    width: 70%;
}
#main .card .items .itemcontainer>.saveorupdate{
    float: right;
    width: 30%;
    padding-left: 10px;
}
#main .card .items>ul .unvisable{
    display: none;
}
.msg{
    color: red;
}
#main .card .items .subcontainer>ul{
    padding-left: 10px;
}
#main .card .items .subcontainer .subitemcontainer{
    display: inline-block;
    cursor: pointer;
    width: 100%;
}
#main .card .items .subcontainer .subitemcontainer>.load{
    float: left;
    width: 70%;
}
#main .card .items .subcontainer .subitemcontainer>.saveorupdate{
    float: right;
    width: 30%;
    padding-left: 10px;
}
#main .card .items .itemcontainer>.load{
    float: left;
    width: 70%;
}
