<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<div  th:fragment="in_search">
    <link href="/static/css/shop/in_search.css" rel="stylesheet"/>
    <div class="insearch">
        <span>本店搜索</span>
        <input type="text" class="insearchtext"/>
        <input type="number" class="minprice"/>
        <input type="number" class="maxprice"/>
        <button class="blackbutton">搜索</button>
    </div>
</div>
