<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<div  th:fragment="search">
    <link href="/static/css/shop/search.css" rel="stylesheet"/>
    <div class="searchcontainer">
        <div class="line">
            <div class="left">
                <a href="/index" class="logo">XX网</a>
            </div>
            <div class="right searchpanel">
                <input type="text"/>
                <button>搜索</button>
            </div>
        </div>
        <div class="line">
            <div class="left">
                <span>店铺：</span>
                <span>店铺名</span>
            </div>
            <div class="right">
            </div>
        </div>
    </div>
</div>
